@layer base {
	:root {
		--primary-text: #222;
		--secondary-text: #444;
		--transparent-accent: #ffffff40;

		--header-height: 75px;
		--header-item: 25px;
		--icon-size: 32px;

		--primary-bg: #ffffff;
		--secondary-bg: #b2b2b2;
		--medium-bg: #d9d9d9;

	}

	.dark {
		--primary-text: #FFF;
		--secondary-text: #CCC;
		--transparent-accent: #00000040;
		
		--secondary-bg: #2e2e2e;
		--primary-bg: #181818;
		--medium-bg: #1f1f1f;
	}

	body {
		@apply font-body text-left text-lg text-secondary-text bg-primary-bg;
		--s: 400px; /* control the size */
		
		--_g: var(--medium-bg) 0 120deg,#0000 0;
		background:
			conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
			conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
			conic-gradient(from  60deg at calc(200%/3),var(--medium-bg) 60deg,var(--primary-bg) 0 120deg,#0000 0),
			conic-gradient(from 180deg at calc(100%/3),var(--secondary-bg) 60deg,var(--_g)),
			linear-gradient(90deg,var(--secondary-bg)   calc(100%/6),var(--primary-bg) 0 50%,
														var(--secondary-bg) 0 calc(500%/6),var(--primary-bg) 0);
		background-size: calc(1.732*var(--s)) var(--s);
		/* background: linear-gradient(
				to top,
				transparent,
				var(--secondary-bg)
			)
			var(--primary-bg);*/
	}
	h1, h2, h3, h4, h5, h6 { @apply font-heading text-primary-text font-bold; }
	h1 { @apply text-4xl ; }
	h2 { @apply text-3xl; }
	a { }
	p { @apply mt-2; }

	.main-padding { @apply max-w-screen-xl w-full mx-auto px-6 sm:px-12 md:px-24; }
}