@layer base {
	:root {
		--primary-text: 0 0 0;
		--secondary-text: 0 0 0;

		--primary-bg: 250 248 255;
		--secondary-bg: 214 211 211;

		--primary-accent: 173 127 159;

		--failure-accent: 196 63 33;
		--warning-accent: 197 169 34;
		--success-accent: 34 197 94;

		--icon-size: 28px;
	}

	.dark {
		--primary-text: 255 255 255;
		--secondary-text: 255 255 255;

		--primary-bg: 18 16 20;
		--secondary-bg: 32 32 32;
	}
	html { @apply screen-height; }

	body { @apply font-body text-left text-lg text-fg min-h-full; }


	h1, h2, h3, h4, h5, h6 { @apply font-heading text-fg-primary mt-2 leading-relaxed; }
	h1 { @apply text-xl font-black underline underline-offset-4; }
	h2 { @apply text-lg font-bold; }
	h3 { @apply font-bold; }
	p { @apply mt-2; }
	a { @apply cursor-pointer; }
	p a { @apply opacity-70 hover:opacity-100 transition-opacity duration-300 hover:duration-100; }

	.main-padding { @apply max-w-screen-xl w-full mx-auto px-6 sm:px-12 md:px-24; }
}